<div class="dashboard-container">
  <div class="charts-grid">
    <div class="chart-wrapper">
      <h2>Donut Chart</h2>
      <canvas id="donutChart"></canvas>
    </div>
    <div class="chart-wrapper">
      <h2>Bar Chart</h2>
      <canvas id="barChart"></canvas>
    </div>
  </div>

  <div class="table-wrapper">
    <h2>Users Table</h2>
    <table class="users-table">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of tableUsers">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.username }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
